
//Colors
$lightblue: #d7f7fe;
$darkblue: #1a577f;
$medblue: #1f729c;
$salmon: #ff6067;
$hellayellow: #f7ee1a;

//Typography
$base-font-size: 16px;
$base-font-family: "Nunito", sans-serif;
$heading-font-family: "Righteous", cursive;

* {
  transition: all 0.65s ease;
  box-sizing: border-box;
  list-style: none;
  margin: 0;
}

body {
  position: relative;
  min-height: 100vh;
  background: $lightblue;
  font-family: $base-font-family;
  color: #222;
}

